/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap');


*{
    /* color: Green;
    border: 1px solid green */
}
body {
    background: url("background.png");
    background-repeat: repeat;
  }
h1{
    font-size: 3.5em;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

h3{
    font-family: 'Patrick Hand', cursive;
    color: black;
    
    
}
.title{
    display:flex;
    justify-content: space-between;
}
header {
    display:flex;
    /* flex-direction:row-reverse; */
    text-align:center;
    align-items: center;
    justify-content: space-evenly;
    margin: 3% auto;
}
.button{
    display:flex;
    /* flex-direction:row-reverse; */
    text-align:center;
    align-items: center;
    justify-content: space-evenly;
    font-family:'Patrick Hand', cursive;
    font-size: 2rem;
    margin: 3rem;
    text-decoration:none;
}
nav {
    display: flex;
}
.background {
    /* position:absolute; */
        
    background-image:url('resources/adventure-5077760_1920.jpg');
    background-position: center;
    max-width:100rem;
    height:400px;
    text-align:center;
    padding:150px;
    margin: 90px auto;
    
}

.gallery {
    
    max-width:100rem;
    margin:0 auto ;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content:space-around;  
    /* object-fit: contain; */
    height:auto;
    padding: 5rem;
}
.gallery img{
    display:center;
    width: 600px; 
    height: 400px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
    padding:3rem;
    

}

.gallery h3{
    padding:1rem;
    font-size:2em;
    text-align: center;
    padding-bottom: 3rem;
    text-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
    font-weight: 700;
}

footer nav a{
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    width:90%;
    padding:1rem;
    text-decoration:none;
    font-family:'Patrick Hand', cursive; 
    font-size: 2rem;
}
footer{
    display:flex;
    justify-content: center;
    background-color:rgb(77, 141, 143);
    
    bottom: 0;
    width: 100%;
    height: 10rem; 

}

/* Effects */

a:link {
    color: #2f4f4f;
    text-decoration:none;
}
/* visited link */
a:visited {
    color: #384b4b;
    ;
  }
  
  /* mouse over link */
  a:hover {
    color: Black;
    transform: scale(1.2);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  /* [2] Transition property for smooth transformation of images */
  .box1 img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .box1:hover img {
    transform: scale(1.2);
    position:
  }